
{% extends 'layout.html' %}

{% block body %}
 <div class="jumbotron text-center">
   <h1>Willkommen beim <br> VisaCalculator</h1>
   <img src="/static/home.png" class="img-responsive img-rounded img-thumbnail" alt="Application Screenshot">
   <p class="lead">Dein Online Rechner zum Kalkulieren deiner <br>Aufenthaltsberechtigung in der Türkei.<br></p>
   {% if session.logged_in == NULL %}
     <a href="/register" class="btn btn-primary btn-lg">Registrieren</a>
     <a href="/login" class="btn btn-success btn-lg">Login</a>
   {% endif %}
 </div>
{% endblock %}
