{% extends 'layout.html' %}

{% block body %}
  <h1>Trips</h1>
  <h3><small>Welcome {{session.username}}</small></h3>
  <a class="btn btn-success" href="/add_trip"> Add Trips</a>
  <hr>
  <table class="table table-striped">
    <tr>

      <th>Startdate</th>
      <th>Enddate</th>
      <th>Trip in Days</th>
      <th></th>
      <th></th>
    </tr>
    {% for trip in trips %}
      <tr>
        <td>{{trip.startdate.strftime("%d %b %Y")}}</td>
        <td>{{trip.enddate.strftime("%d %b %Y")}}</td>
        <td>{{ (trip.enddate - trip.startdate).days }}</td>
        <td></td>
        <td></td>
      </tr>
    {% endfor %}
      <tr>
        <td></td>
        <td>Total</td>
        <td>{{days}}</td>
        <td></td>
        <td></td>
      </tr>
  </table>
{% endblock %}
